@media (max-width: 450px) {
  .cartitemtable {
    width: fit-content;
  }
  .cartitemsdiv {
    margin: 0 !important;
    padding: 0 !important;
  }
  .orderitems {
    width: 320px !important;
  }
  .updateprofile {
    padding: 20px !important;
    margin: 10px !important;
  }
}
